.header {
  padding: 92px 24px 94px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: start;
  align-items: center;
}

.list {
  margin-left: 26.5px;
  display: flex;
  gap: 31px;
  list-style-type: circle;
}

.list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #000;
}

.list:first-child {
  list-style: none;
}

.item--active {
  text-decoration: none;
  letter-spacing: 0;
}

.header-logo {
  display: block;
  text-decoration: none;
}

.header-logo-image {
  height: 105px;
  width: 148px;
}

.contacts {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  color: #000;
  min-width: 238px;
  justify-self: end;
  margin-right: 28px;
}

.contacts-list {
  list-style: none;
  letter-spacing: 0.01em;
}

.address {
  font-style: normal;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 750px;
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: -1;
}

.cover-title {
  padding: 165px 50px 135px;
  color: #fff;
  font-size: 100px;
  line-height: 1.15;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
  padding: 0;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text--center {
  text-align: center;
  line-height: 1;
}

.aligned-text--right {
  text-align: right;
  line-height: 1;
}

.coversubtitle-button {
  padding: 0px 50px 51px 78px;
  display: flex;
  justify-content: space-between;
}

.coversubtitle {
  padding-top: 12px;
  padding-bottom: 11px;
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  word-spacing: 18.5px;
}

.button {
  border: 1px solid #fff;
  background: none;
  font-family: Raleway, sans-serif;
}

.button-text {
  padding: 12px 31px 10px;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.lots {
  padding: 179px 24px 148px;
}

.lots-list {
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.box-lot {
  max-width: 334px;
}

.lots-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-left: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.lot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 563px;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.lot-link {
  text-decoration: none;
}

.lot-title {
  padding: 51px 40px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #fff;
}

.lot-text {
  padding: 0 40px 48px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.more-lots {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-left: 40px;
}

.lot-type--film {
  background-image: url(../images/card-lot-01.jpg); 
}

.lot-type--book {
  background-image: url(../images/card-lot-02.jpg);
}

.lot-type--picture {
  background-image: url(../images/card-lot-03.jpg);
}

.about {
  padding: 0 24px 180px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 72px;
}

.about-logo {
  border-radius: 50%;
  background: #000;
  margin: 35px 0 0 47px;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image {
  height: 114px;
  width: 148px;
}

.about-text {
  display: flex;
  flex-direction: column;
}

.about-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin-top: 136px;
  margin-bottom: 98px;
}

.about-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.003em;
}

.footer {
  padding: 0 50px 88px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: stretch;
  align-items: flex-start;
}

.footer .contacts {
  justify-self: start;
}

.footer .contacts-list {
  padding-top: 0;
}

.footer .list {
  flex-direction: column;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  gap: 0;
  list-style: none;
  min-width: 180px;
  align-items: center;
}

.social-media {
  justify-self: end;
  max-width: 240px;
}

.social-media-list {
  list-style: none;
  display: flex;
  gap: 15px 48px;
  flex-wrap: wrap;
}

.footer-logo {
  width: 48px;
  height: 48px;
}