.header {
  padding: 92px 24px 94px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: start;
  align-items: flex-start;
}

.list {
  margin-left: 26.5px;
  margin-top: 46px;
  display: flex;
  gap: 31px;
  list-style-type: circle;
}

.list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #000;
}

.list :first-child {
  list-style: none;
}
.startItem {
  text-decoration: none;
  letter-spacing: 0;
}
.header-logo {
  width: 148px;
}
.header-logo-image {
  height: 105px;
}

.contacts {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  color: #000;
  justify-self: end;
  margin-right: 28px;
  min-width: 238px;
}
.contacts-list {
  padding-top: 7px;
  list-style: none;
  letter-spacing: 0.01em;
}

.address {
  font-style: normal;
}
.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 750px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
  padding: 165px 50px 135px;
  color: #fff;
  font-size: 100px;
  line-height: 1.15;
  font-weight: 700;
  text-transform: uppercase;
}

.word-span {
  display: block;
  gap: 20px;
  letter-spacing: 0.3em;
  padding: 0;
}
.separate-letter {
  letter-spacing: 0.6em;
}

.separate-last-letter {
  letter-spacing: 0;
}
.word-one {
  margin-bottom: 20px;
}

.word-two {
  padding-left: 286px;
  line-height: 1;
  margin-bottom: 20px;
}

.word-three {
  text-align: right;
  line-height: 1;
}
.coversubtitle-button {
  padding: 0px 50px 51px 78px;
}

.coversubtitle {
  padding-top: 12px;
  padding-bottom: 11px;
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  word-spacing: 18.5px;
}
.button {
  border: 1px solid #fff;
  float: right;
  background: none;
}

.button-text {
  padding: 12px 26px 10px;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.lots {
  padding: 179px 24px 148px;
}

.lots-list {
  list-style: none;
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 31px;
}
.box-lot {
  width: 31.7%;
}
.lots-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  margin-left: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.lot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 563px;
  min-width: 300px;
}
.lot-link {
  text-decoration: none;
}
.lot-title {
  padding: 51px 40px 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #fff;
}
.lot-text {
  padding: 0 40px 48px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}
.more-lots {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-left: 40px;
}
.img-lot-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.img-lot-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.img-lot-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about {
  padding: 0 24px 180px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 72px;
}
.about-round {
  border-radius: 50%;
  background: #000;
  margin: 35px 0 0 47px;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-image {
  height: 114px;
}
.about-text {
  display: flex;
  flex-direction: column;
}

.about-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin-top: 136px;
  margin-bottom: 98px;
}
.about-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.003em;
}
.paragraph1 {
  padding-right: 5px;
  letter-spacing: 0.005em;
}
.footer {
  padding: 0 50px 88px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: stretch;
  align-items: flex-start;
}

.footer .contacts {
  justify-self: start;
}
.footer .contacts-list {
  padding-top: 0;
}
.footer .list {
  flex-direction: column;
  text-align: center;
  margin-top: 0;
  margin-left: 0;
  gap: 0;
  list-style: none;
  min-width: 180px;
  align-items: center;
}

.social-media {
  display: flex;
  list-style: none;
  justify-self: end;
  gap: 48px;
  max-height: 48px;
  max-width: 240px;
}
